<a href="https://colab.research.google.com/github/raj-tg/ml_firststeps/blob/master/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web Scraping from Grofers.com

Extracted the request using Chrome.
*   Load Grofers.com and start inspect
*   Open networking tab, clear contents and start scrolling the page to initiate a request
*   Open the entries to find the get URL initiated to get the content to refresh the page. 
*   Copy the content as cURL
*   Go to https://curl.trillworks.com/ paste the copied cURL content to format it as what we need

In [0]:
import requests
import json
import io
import pandas as pd

In [0]:
headers = {
    #'authority': 'grofers.com',
    'app_client': 'consumer_web',
    #'device_id': 'e5173e46-24c7-470f-b37a-4fc2cc0f8b3c',
    'content-type': 'application/json',
    #'access_token': 'null',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36',
    #'dnt': '1',
    #'auth_key': '63c7d949fe428e81c21bc363632fb082056a1ed3efc767867113e902ed1813d6',
    'accept': '*/*',
    #'sec-fetch-site': 'same-origin',
    #'sec-fetch-mode': 'cors',
    #'sec-fetch-dest': 'empty',
    #'referer': 'https://grofers.com/cn/grocery-staples/cid/16',
    #'accept-language': 'en-US,en;q=0.9,ml;q=0.8',
    #'cookie': '__cfduid=d96ceb82145ab72f808da555dffc80a941590318116; gr_1_deviceId=e5173e46-24c7-470f-b37a-4fc2cc0f8b3c; __cfruid=e5cbb74ea9ea0148a0a0372b1457cc6fe8bd8c4e-1590318116; rl_anonymous_id=^%^2213568f28-9174-4116-a8e6-cd4ed8d1f036^%^22; rl_user_id=^%^22^%^22; ajs_user_id=null; ajs_group_id=null; ajs_anonymous_id=^%^220d084b2b-0dbb-4abf-96f5-a10d6a396c42^%^22; _gcl_au=1.1.1523808037.1590318119; _ga=GA1.2.1621989342.1590318119; _gid=GA1.2.573814408.1590318119; _sp_ses.bf41=*; AMP_TOKEN=^%^24NOT_FOUND; WZRK_G=31d07a4a709547f9b8de543b4b34154b; __insp_wid=180455199; __insp_nv=true; __insp_targlpu=aHR0cHM6Ly9ncm9mZXJzLmNvbS9jbi9ncm9jZXJ5LXN0YXBsZXMvY2lkLzE2; __insp_targlpt=T3JkZXIgR3JvY2VyeSBPbmxpbmUgaW4gSW5kaWEgQCBEaXNjb3VudGVkIFJhdGVzIGZyb20gR3JvZmVycw^%^3D^%^3D; _hjid=45a91162-ff66-4011-b302-0a2fc939c4ad; _fbp=fb.1.1590318121711.442810255; _hjIncludedInSample=1; __insp_norec_sess=true; gr_1_lat=12.9894395055235; gr_1_locality=3; gr_1_lon=77.7348850599167; _uetsid=bb7fd4d2-58ec-7bd7-c760-4b02c5f9dd39; __insp_slim=1590318708788; city=Bangalore; _sp_id.bf41=3f1e3905e6cbea0e.1590318120.1.1590318719.1590318120.0cb7b387-9422-4189-8e52-a0a29949031c; WZRK_S_RKR-99Z-ZK5Z=^%^7B^%^22p^%^22^%^3A2^%^2C^%^22s^%^22^%^3A1590318122^%^2C^%^22t^%^22^%^3A1590318828^%^7D',
}

params = (
    ('l0_cat', '16'),
    ('start', '0'),
    ('next', '397'),
)

response = requests.get('https://grofers.com/v4/search/merchants/26012/products/', headers=headers, params=params)
#print(response.text)

In [0]:
data = json.loads(response.text)
#print(data)

In [322]:
counter = len(data['result']['products'])
counter

394

In [0]:
#counter = 5

rating = []
type_id = []
unit = []
sbc_price = []
unit_price = []
unit_type = []
price = []
discount = []
sbc_discount = []
product_id = []
name = []
mrp = []
sbc_unit_price = []
default_product_id = []
brand_id = []
unit_price = []
item_type = []
brand = []
brand_type = []

for i in range(counter):
  rating.append(data['result']['products'][0]['rating'])
  type_id.append(data['result']['products'][i]['type_id'])
  unit.append(data['result']['products'][i]['unit'])
  sbc_price.append(data['result']['products'][i]['sbc_price'])
  unit_price.append(data['result']['products'][i]['unit_price'])
  unit_type.append(data['result']['products'][i]['unit_type'])
  price.append(data['result']['products'][i]['price'])
  discount.append(data['result']['products'][i]['discount'])
  sbc_discount.append(data['result']['products'][i]['sbc_discount'])
  product_id.append(data['result']['products'][i]['product_id'])
  name.append(data['result']['products'][i]['name'])
  mrp.append(data['result']['products'][i]['mrp'])
  sbc_unit_price.append(data['result']['products'][i]['sbc_unit_price'])
  default_product_id.append(data['result']['products'][i]['default_product_id'])
  brand_id.append(data['result']['products'][i]['brand_id'])
  item_type.append(data['result']['products'][i]['type'])
  brand.append(data['result']['products'][i]['brand'])
  brand_type.append(data['result']['products'][i]['brand_type'])

In [324]:
len(sbc_price)

394

In [325]:
len(unit_price)

394

In [327]:
grofers_df = pd.DataFrame({
                           'Product_Id' : product_id,
                           'Default_Product_Id': default_product_id,
                           'Name' : name,
                           'Type_Id'  : type_id,
                           'Item_Type': item_type,
                           'Brand_Id': brand_id,
                           'Brand': brand,
                           'Brand_Type': brand_type,
                           'Unit'     : unit,
                           'Unit_Type' : unit_type,
                           'MRP' : mrp,
                           'Price': price,
                           'Sbc_Price':sbc_price,
                           'Unit_Price' : unit_price,
                           'Sbc_Unit_Price': sbc_unit_price,
                           'Discount': discount,
                           'Sbc_discount': sbc_discount,
                           'Rating'  : rating               
                           })


grofers_df.head(10)

   Product_Id  Default_Product_Id  ... Sbc_discount  Rating
0      370647              370647  ...         10.0     4.2
1      389664              389664  ...         11.0     4.2
2      390068              390068  ...          3.0     4.2
3      389904              389904  ...          4.0     4.2
4      389684              389684  ...         22.0     4.2
5      389875              389875  ...         27.0     4.2
6      389727              389727  ...         13.0     4.2
7      400269              400269  ...          3.0     4.2
8      391297              391297  ...         16.0     4.2
9       10974               10974  ...         20.0     4.2

[10 rows x 18 columns]

In [328]:
grofers_df.shape

(394, 18)

In [329]:
grofers_df.Unit.unique()

array(['1 l', '1 kg', '500 g', '200 g', '500g', '5 kg', '10 kg', '100g',
       '25 kg', '1l', '100 g', '500 ml', '100  g', '50 g', '5 l',
       '2x250 g', '2x500 g', '200 ml', '25 g', '20 g', '1 kg + 500 g',
       '5l', '500 tablets', '250 g', '300 tablets', '2 l', '500 gm',
       '100 gm', '3x1 l', '5kg + 5kg + 1kg'], dtype=object)

In [330]:
grofers_df[grofers_df.Unit == '500 tablets']

     Product_Id  Default_Product_Id  ... Sbc_discount  Rating
255       15474               15474  ...          6.0     4.2

[1 rows x 18 columns]

In [331]:
data['result']['products'][0]['type_id']

2015

In [0]:
#from selenium import webdriver
from bs4 import BeautifulSoup as BS
import pandas as pd

In [0]:
#url = 'https://www.flipkart.com/mobiles/pr?sid=tyy,4io&otracker=categorytree'
#url = "https://www.flipkart.com/televisions/pr?sid=ckf,czl&otracker=categorytree"
url = "https://www.flipkart.com/televisions/pr?sid=ckf%2Cczl&otracker=categorytree&page=1"
agent = {"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'}
page = requests.get(url, headers=agent)

In [0]:
from lxml import html

In [0]:
parser = html.fromstring(page.content)
strJson = parser.xpath('//script[@id="is_script"]')[0]
jObject = json.loads(strJson.text.replace(
'window.__INITIAL_STATE__ = ', '').replace('};', '}'))

In [336]:
jObject['pageDataV4']['browseMetadata']['totalProducts']

1432

In [337]:
jObject['pageDataV4']['page']['data']['10003'][24]['widget']['data']['products'][0]['productInfo']['action']['params']['productId']
jObject['pageDataV4']['page']['data']['10003'][24]['widget']['data']['products'][0]['productInfo']['action']['url']

'/samsung-super-6-108cm-43-inch-ultra-hd-4k-led-smart-tv/p/itmfdzq6khv2pcvz?pid=TVSFDZQ6KMPJYWBV&lid=LSTTVSFDZQ6KMPJYWBVM4VFJD&marketplace=FLIPKART'

In [0]:
base_data = jObject['pageDataV4']['page']['data']['10003'][24]['widget']['data']['products'][0]['productInfo']['value']
#base_data

In [340]:
base_data['itemId']
base_data['productBrand']
base_data['analyticsData']['category']
base_data['analyticsData']['subCategory']
base_data['analyticsData']['superCategory']
base_data['baseUrl']
base_data['keySpecs']
base_data['minKeySpecs']
base_data['pricing']['discountAmount']
base_data['pricing']['extraDiscount']
base_data['pricing']['finalPrice']['currency']
base_data['pricing']['finalPrice']['decimalValue']
base_data['pricing']['mrp']['currency']
base_data['pricing']['mrp']['decimalValue']
base_data['pricing']['totalDiscount']
base_data['rating']['average']
base_data['rating']['count']
base_data['rating']['reviewCount']

772

In [341]:
soup = BS(page.content, 'lxml')
page_nav = soup.find('nav', class_='_1ypTlJ').text
pages_cnt = soup.find('div', class_='_2zg3yZ')
dat = pages_cnt.text
dat = dat.replace(page_nav, '')
pages_cnt = int(dat.replace('Page 1 of ', ''))
pages_cnt
#soup

60

In [0]:
#soup.find('div', class_='_3wU53n')

In [0]:
import numpy as np

In [343]:
products=[]
prices=[]
ratings=[]
ratings_cnt=[]
product_dtls=[]

agent = {"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'}

pages_cnt=20
pages_cnt = pages_cnt + 1 #because stating with 1
for i in range(1,pages_cnt,1):
  url = 'https://www.flipkart.com/televisions/pr?sid=ckf%2Cczl&otracker=categorytree&page='+str(i)
  #print(url)
  page = requests.get(url, headers=agent)	
  soup = BS(page.content, 'lxml')
  
  for a in soup.findAll('a',href=True, attrs={'class':'_31qSD5'}):
    dat=a.find('div', attrs={'class':'_3wU53n'})
    if dat is None:
      products.append(np.nan)
    else:
      products.append(dat.text.strip())

    dat=a.find('div', attrs={'class':'_1vC4OE _2rQ-NK'})
    if dat is None:
      prices.append(np.nan)
    else:
      prices.append(dat.text)

    dat=a.find('div', attrs={'class':'hGSR34'})
    if dat is None:
      ratings.append(np.nan)
    else:
      ratings.append(dat.text)

    dat=a.find('span', class_="_38sUEc")
    if dat is None:
      ratings_cnt.append(np.nan)
    else:
      ratings_cnt.append(dat.text)
    

    dat=a.find('div',attrs={'class':'_3ULzGw'})
    if dat is None:
      product_dtls.append(np.nan)
    else:
      product_dtls.append(dat.text)

print("Pulled data from",pages_cnt-1,"pages")
#print(products)
#print(ratings)
#print(ratings_cnt)
#print(prices)
#print(product_dtls)

Pulled data from 21 pages

In [344]:
flipkart_df = pd.DataFrame({'Product':products,
                            'Price':prices,
                            'Rating': ratings,
                            'Rating_Counts': ratings_cnt,
                            'Product_Details': product_dtls})
flipkart_df.head(10)

                                             Product  ...                                    Product_Details
0  Mi 4A PRO 80 cm (32) HD Ready LED Smart Androi...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
1  Samsung Series 4 80cm (32 inch) HD Ready LED S...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
2  Vu Premium 108cm (43 inch) Ultra HD (4K) LED S...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
3  Mi 4A Pro 108 cm (43) Full HD LED Smart Androi...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
4  Mi 4X 108 cm (43) Ultra HD (4K) LED Smart Andr...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
5     Mi 4A 100 cm (40) Full HD LED Smart Android TV  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
6  Vu Premium 80cm (32 inch) HD Ready LED Smart A...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...
7  Vu Pixelight 138cm (55 inch) Ultra HD (4K) LED...  ...  Netflix|YoutubeOperating System: LinuxUltra HD...
8  Vu Pixelight 138cm (55 inch) Ultra HD (4K) LED...  ...  Netflix|Prime Video|YoutubeOperating System: L...
9  Vu Premium 108cm (43 inch) Full HD LED Smart A...  ...  Netflix|Prime Video|Disney+Hotstar|YoutubeOper...

[10 rows x 5 columns]

In [345]:
flipkart_df.shape

(480, 5)